.InstrumentList1 {
    border: 2px solid black;
    border-radius: 5px;
    width: 20vw;
    height: 80vh;
    margin-left: 2vw;
    margin-right: 1.5vw;
    margin-top: 3vh;
    background-image: url('https://images.unsplash.com/photo-1537204319452-fdbd29e2ccc7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80');
    background-size: cover;
    color: rgb(188, 191, 188);
    overflow-y: scroll;
}

.Instruments1 h2 {
    margin-top: 3vh;
    color: rgb(188, 191, 188);
}

.InstrumentList1 ul {
    list-style-type: none;
    line-height: 3.5em;
    font-weight: 600;
    font-size: 1.3em;
    padding-left: 0;
}

.InstrumentList1 ul li:hover {
    font-size: 1.4em;
    cursor: grab;
}