.DuetDetailPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 93.5vh;
    background-image: url('https://images.unsplash.com/photo-1522008224169-e5992bed5fae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80');
    background-size: cover;
}

.DuetDetails {
    background-image: url('https://images.unsplash.com/photo-1550895030-823330fc2551?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80');
    background-size: cover;
    padding: 80px;
    border-radius: 15px;
}

.buttonGoAll {
    color: rgb(201, 198, 198);
}

.buttonGoFind {
    color: rgb(201, 198, 198);
}

.detailPageBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 40px;
    background-color: none;
    font-weight: 600;
    font-size: 1.1em;
}

.youtube {
    margin-top: 30px;
}

.favBtn {
    margin-top: 20px;
    background-color: rgb(101, 44, 36);
    color: rgb(201, 198, 198);
    opacity: 0.9;
    border-radius: 15px;
    padding: 15px;
    font-size: medium;
    font-family: 'Great Vibes', cursive;
}

.DuetDetails h2 {
    text-decoration: underline;
}

.DuetDetails a {
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
}