.FavoritesPage {
    background-image: url('https://images.unsplash.com/photo-1506423456648-c11ccb27338d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80');
    background-size: cover;
    padding-top: 30px;
    height: 93vh;
}

.allFavCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
}

.favCard {
    border: 1px solid rgb(201, 198, 198);
    border-radius: 5px;
    height: 35vh;
    width: 30vw;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url('https://images.unsplash.com/photo-1507838153414-b4b713384a76?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')
}

.FavoritesPage h1 {
    color: rgb(201, 198, 198);
}

.favCard p {
    background-color: rgb(201, 198, 198);
    margin-bottom: 0;
    width: 100%;
    text-decoration: none;
    color: black;
    line-height: 2em;
}

.favCard:hover {
    opacity: 0.9;
}