.App {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5vh;
  gap: 5px;
  border-bottom: 3px solid black;
}

header img {
  width: 30px;
}

footer {
  height: 2vh;
  border-top: 3px solid black;
}